/* General Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Body Styling */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #1a1a1a; /* Dark background */
    color: #ecf0f1; /* Light text color */
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Header Styling */
h1 {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 20px;
    color: #3498db; /* Bright blue for the title */
}

/* Sidebar Styling */
.sidebar {
    position: fixed;
    width: 250px;
    height: 100vh;
    background: #2c3e50; /* Dark blue */
    padding-top: 20px;
    left: 0;
    top: 0;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
}

.sidebar ul {
    list-style: none;
}

.sidebar a {
    display: block;
    color: #ecf0f1;
    padding: 15px;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
}

.sidebar a:hover {
    background: #3498db; /* Bright blue on hover */
}

/* Main Content Styling */
main {
    margin-left: 250px; /* Offset for the sidebar */
    padding: 20px;
    width: calc(100% - 250px);
}

section {
    padding: 50px;
    margin-bottom: 20px;
    background: #34495e; /* Darker blue for sections */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #3498db; /* Bright blue for section titles */
}

section p {
    font-size: 1.2rem;
    color: #ecf0f1;
}

/* Styling For the footer*/
footer {
    background: #2c3e50;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    width: 100%;
}

footer p {
    font-size: 1rem;
    color: #ecf0f1;
    margin-bottom: 10px;
}

.steam-link {
    display: inline-block;
    background-color: #3498db; /* Bright blue */
    color: #ecf0f1; /* Light text color */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
}

.steam-link:hover {
    background-color: #2980b9; /* Darker blue on hover */
}